
body {
  background-color: #8DE5EA;
  font-family: 'comic sans ms', 'Futura', sans-serif;
  margin: 0; 
  padding: 0;}

#page {
  background-color: #333;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;}
  /* Responsive page rules at bottom of style sheet */

h1 {
  background-image: url(../media/doggo.png);
  background-size: 125px 75px;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  text-indent: -1000%;
  height: 75px;
  line-height: 75px;
  width: 125px;
  margin: 0 auto 0 auto;
  padding: 30px 10px 20px 10px;}

h2 {
  color: rgb(54, 237, 122);
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  display: inline-block;
  margin: 0 0 23px 0;}

h2 span {
  background-color: #8DE5EA;
  color: #0D381D;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  top: -5px;
  height: 22px;
  width: 26px;
  padding: 4px 0 0 0;}

ul {
  border:none;
  padding: 0;
  margin: 0;}

li {
  background-color: #E7B7FF;
  color: #222;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  font-size: 24px;
  letter-spacing: .05em;
  list-style-type: none;
  text-shadow: 2px 2px 1px #fff;
  text-align: left;
  height: 50px;
  padding-left: 1em;
  padding-top: 10px;}

.hot {
  background-color: #DA8FFF;
  color: #222;
  text-shadow: 2px 2px 1px #fff;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;}

.complete {
  background-color: #4F2D2D;
  color: #FEABAB;
  background-image: url("../media/trash.png");
  background-position: right, center;
  background-repeat: no-repeat;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  text-shadow: 2px 2px 1px #222;}

/* FORM STYLES */

form {
  padding: 0 20px 20px 20px;}

input[type='text'], input[type='password'], textarea {
  background-color: #8DE5EA;
  color: #0D381D;
  font-size: 24px;
  width: 96%;
  padding: 4px 6px;
  border: 1px solid #222;
  border-radius: 8px;}

input[type='submit'], a.add, button, a.show {
  background-color: #0D381D;
  color: rgb(54, 237, 122);
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  margin-top: 10px;
  font-family: 'Oswald', 'Futura', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;}

input[type='submit'], a.add, button {
  float: right;} 

input[type='text']:focus, input[type='password']:focus, textarea:focus {
  border: 1px solid rgb(54, 237, 122);
  background-color: #0D381D;
  color: rgb(54, 237, 122);
  outline: none;}

input[type='submit']:hover, a.add:hover, a.show:hover {
  background-color: #4F2D2D;
  color: #FEABAB;
  cursor: pointer;}

#newItemButton {padding: 10px 20px 75px 20px; display: none;}
#newItemForm {padding-top: 20px;}
#itemDescription {width: 360px;}
#newItemForm input[type='submit'] {margin-top: 0; text-align: left;}

/* Small screen:mobile */
@media only screen and (max-width: 500px) {
  body {
      background-color: #8DE5EA;
  }
  #page {
    max-width: 480px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
/* Larger screens act like a demo for the app */
@media only screen and (min-width: 960px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  h1{
    background-image: url(../media/doggo.png);
    background-size: 72px 72px;
  }
}