body{
    background-color: azure;
    text-align: center;
}

a{
    display: inline-block;
    border: 2px solid black;
    background-color: coral;
    color: black;
    padding: 10px;
    text-decoration: black;
}

bigbutts{
    font-size: 3em;
}